<div id="hbase" data-title="HBase" data-timer="true" data-lang="hbase" class="step slide">
    <q>
      <div style="height: 100px"></div>
      <p>
        <img src="images/hbase_logo.png" alt="HBase">
      <p>
    </q>
</div>

<div id="hbase-intro" data-title="Introduction" data-timer="true" data-lang="hbase" class="step slide">
  <q>
    <ul>
      <li>Released in 2008 as Hadoop sub-project</li>
      <li>Open Source</li>
      <li>Written in Java</li>
      <li>Implementation of Google’s BigTable</li>
    </ul>
  </q>
</div>

<div id="hbase-bigtable" data-title="BigTable" data-timer="true" data-lang="hbase" class="step slide">
  <q>
    <blockquote>
    “<span style="display:none">A</span>A Bigtable is a sparse, distributed, persistent multidimensional sorted map.”
    </blockquote>
    <br>
    <a href="http://research.google.com/archive/bigtable.html" target="_blank">“Bigtable: A Distributed Storage System for Structured Data”</a>
    <br>
    Chang et al. (2006)
  </q>
</div>

<div id="hbase-wat" data-title="Wat" data-timer="false" data-lang="hbase" class="step slide">
  <q>
    <p><img src="images/wat.jpg" alt="Wat"></p>
  </q>
</div>

<div id="hbase-details" data-title="Details" data-timer="true" data-lang="hbase" class="step slide">
  <q>
    <ul>
      <li>Columnar Store</li>
      <li>Big Data: billions of rows X millions of columns</li>
      <li>Distributed on commodity hardware (no Exadata needed)</li> 
      <li>Strict consistency</li>
    </ul>
  </q>
</div>

<div id="hbase-columnar" data-title="Columnar Store" data-timer="true" data-lang="hbase" class="step slide">
  <q>
    <p><img src="images/columnar-data-model.png" alt="Columnar Data Model"></p>
    <p style="font-size: 40%; line-height: 1.5em; text-align: left;">
    “Seven Databases in Seven Weeks”<br>Redmond & Wilson (2012) Pragmatic Programmers
    </p>
    <div style="height: 0.5em"></div>
    • No data types. Everything is byte[].
  </q>
</div>

<div id="hbase-mapreduce" data-title="How do I get data out?" data-timer="true" data-lang="hbase" class="step slide">
  <q>
    <p>
      <img src="images/mapreduce.png" alt="Map Reduce">
    </p>
  </q>
</div>

<div id="hbase-protocols" data-title="Protocols" data-timer="true" data-lang="hbase" class="step slide">
  <q>
    <table>
      <tr>
        <th>Name</th>
        <th>Connection Method</th>
      </tr>
      <tr>
        <td>Shell</td>
        <td>Direct</td>
      </tr>
      <tr>
        <td>Java API</td>
        <td>Direct</td>
      </tr>
      <tr>
        <td>Thrift</td>
        <td>Binary protocol</td>
      </tr>
      <tr>
        <td>REST</td>
        <td>HTTP</td>
      </tr>
      <tr>
        <td>Avro</td>
        <td>Binary protocol</td>
      </tr>
    </table>
  </q>
</div>

<div id="hbase-when" data-title="When to use" data-timer="true" data-lang="hbase" class="step slide">
  <q>
    <ul>
      <li>Made to work with Hadoop</li>
      <li>Really big data</li>
      <li>Big queries</li>
      <li>High volume of writes</li>
    </ul>
  </q>
</div>

<div id="hbase-setup" data-title="Set Up" data-timer="true" data-lang="hbase" class="step slide">
  <q>
    <ol>
      <b>Three modes</b>
      <li>Stand-alone mode</li>
      <li>Pseudodistributed mode</li>
      <li>Fully distributed mode</li>
    </ol>
    Recommendation is no fewer than five nodes.
  </q>
</div>

<div id="hbase-example" data-title="Example" data-timer="true" data-lang="hbase" class="step slide">
  <q>
  </q>
</div>