<div id="marklogic" data-title="Marklogic" data-timer="true" data-lang="marklogic" class="step slide">
    <q></q>
</div>

<div id="marklogic-intro" data-title="Introduction" data-timer="true" data-lang="marklogic" class="step slide">
    <q>
      <ul>
        <li>Company Founded 2001</li>
        <li>Product: Marklogic Server</li>
        <li>Written in C++, XQuery</li>
      </ul>
    </q>
</div>

<div id="marklogic-resources" data-title="Resources" data-timer="true" data-lang="marklogic" class="step slide">
    <q>
      <ul>
        <li>Homepage: <a href="www.marklogic.com">www.marklogic.com</a> </li>
        <ul>
          <li>Information</li>
          <li>API docs</li>
          <li>Free, trial download/license</li>
        </ul>
        <li>devpedia (GET URL)</li>
        <li>archipedia (GET URL)</li>
      </ul>
    </q>
</div>

<div id="marklogic-basics" data-title="Basics" data-timer="true" data-lang="marklogic" class="step slide">
    <q>
      <ul>
        <li>NoSQL database?</li>
        <li>Document Database store</li>
          <ul>
            <li>XML</li>
            <li>XQuery/XSLT/XPATH</li>
          </ul>
        <li>HTTP in and out</li>
        <li>Not Open Source</li>
      </ul>
    </q>
</div>

<div id="marklogic-features" data-title="Core Features" data-timer="true" data-lang="marklogic" class="step slide">
    <q>
      <ul>
        <li>Security</li>
        <li>Search</li>
        <li>Many utility features</li>
        <ul>
          <li>CPF, MLCP, Etc.</li>
        </ul>
        <li>App server</li>
      </ul>
    </q>
</div>

<div id="marklogic-six" data-title="Marklogic 6" data-timer="true" data-lang="marklogic" class="step slide">
  <q>
    <ul>
      <li>RESTful interface</li>
      <li>Java interface</li>
      <li>JSON support</li>
      <li>Re-branding as Enterprise NOSQL</li>
    </ul>
  </q>
</div>

<div id="marklogic-rest" data-title="Marklogic 6 REST Interface" data-timer="true" data-lang="marklogic" class="step slide">
  <q>
    <ul>
      <li>Client API - CRUD &amp; search</li>
      <li>Management API - Instrumentation</li>
      <li>Packaging API - Configuration</li>
    </ul>
  </q>
</div>


<div id="marklogic-client-api" data-title="Client API" data-timer="true" data-lang="marklogic" class="step slide">
  <q>
    <ul>
      <li>/v1/documents?uri=/path/to/document</li>
      <ul>
        <li>GET</li>
        <li>PUT</li>
        <li>DELETE</li>
        <li>HEAD</li>
      </ul>
    </ul>
  </q>
</div>

<div id="marklogic-client-json" data-title="Client API JSON" data-timer="true" data-lang="marklogic" class="step slide">
  <q>
    <ul>
      <li>/v1/documents<br/>?uri=/path/to/document<br><em>&amp;format=JSON</em></li>
    </ul>
  </q>
</div>
