<div id="redis" data-title="Redis" data-timer="true" data-lang="redis" class="step slide">
</div>

<div id="redis-intro" data-title="Introduction" data-timer="true" data-lang="redis" class="step slide">
    <q>
      <ul>
        <li>Project started in 2009</li>
        <li>Created by Salvatore Sanfilippo</li>
        <li>Written in C</li>
      </ul>
      REDIS = <em>RE</em>mote <em>DI</em>ctionary <em>S</em>ervice
    </q>
</div>

<div id="redis-resources" data-title="Resources" data-timer="true" data-lang="redis" class="step slide">
    <q>
      <ul>
        <li>Homepage: <a href="redis.io">redis.io</a> </li>
        <li>Try online: 
        <a href="http://try.redis-db.com/">http://try.redis-db.com/</a>
        </li>
      </ul>
    </q>
</div>

<div id="redis-basics" data-title="Basics" data-timer="true" data-lang="redis" class="step slide">
    <q>
      <ul>
        <li>NoSQL database</li>
        <li>Key-Value store</li>
        <ul>
          <li>Values: strings, lists, hashes, sets, ordered sets</li>
        </ul>
        <li>Drivers for loads of languages</li>
        <li>Open Source</li>
      </ul>
    </q>
</div>

<div id="redis-features" data-title="Core Features" data-timer="true" data-lang="redis" class="step slide">
    <q>
      <ul>
        <li>Swiss Army Knife of DBs</li>
        <li>Many utility features</li>
        <li>Data Structures</li>
        <li>Pubsub &amp; blocking queues</li>
        <li>Scriptable in Lua</li>
      </ul>
    </q>
</div>

<div id="redis-why" data-title="Pros and Cons" data-timer="true" data-lang="redis" class="step slide">
    <q>
      <h3>Pros:</h3>
      <ul>
        <li>All in memory</li>
      </ul>
      <h3>Cons:</h3>
      <ul>
        <li>All in memory</li>
      </ul>
    </q>
</div>

<div id="redis-commands" data-title="Commands" data-timer="true" data-lang="redis" class="step slide">
    <q>
      <ul>
        <li>COMMAND arg1 arg2 arg3</li>
        <li>db.command(arg1, arg2, arg3);</li>
      </ul>
    </q>
</div>
